@import url(../styles/style.css);

.content {
  overflow: hidden;
}

.content__head {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}